[submodule "Tools/asm-differ"]
	path = Tools/asm-differ
	url = https://github.com/3dsdecomp/asm-differ
[submodule "Library/RedPepper-Headers"]
	path = Library/RedPepper-Headers
	url = https://github.com/3dsdecomp/RedPepper-Headers
[submodule "Library/LibMessageStudio"]
	path = Library/LibMessageStudio
	url = https://github.com/3dsdecomp/LibMessageStudio
[submodule "Library/nnsdk"]
	path = Library/nnsdk
	url = https://github.com/3dsdecomp/nnsdk
